<% if logged_in?(:site_admin) %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom:0px">
            <li class="breadcrumb-item active" aria-current="page"><%= link_to icon('fa-solid', 'file-lines'), toggle_status_blog_path(blog), style: blog_status_color(blog) %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to icon('fa-solid', 'pen-to-square'), edit_blog_path(blog) if logged_in?(:site_admin) %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= link_to icon('fa-solid', 'trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></li>
        </ol> 
    </nav>
<% end %>