<div class="container">
  <!-- Saving for later in case I want to use it.
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Large</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
      </div>
    </div>
  </header>
  -->

  <div class="nav-scroller py-1 mb-2 mx-2 mt-5">
    <nav class="nav d-flex justify-content-between text-uppercase">
        <% @topics.each do |topic| %>
            <%= link_to topic.title, topic_path(topic) %>
        <% end %>
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 rounded mb-4" id="blog-banner" style="">
    <div class="row" style="background: rgba(0,0,0, .6); padding: 20px;">
        <div class="col-9">
            <h1 class="display-4 font-italic">Welcome to the <span style="color: #AD974F">Round Table!</span></h1>
            <p class="lead my-4">
                I am here to share my thoughts and learn from others via feedback and engaging discussions. 
                There's always more room at the Round Table so please join the conversations and leave comments so we can all grow together.
            </p>
        </div>
        <div class="col-3" align="right">
            <div style='height:100%; display:inline-block;'>&nbsp;</div>
            <div class="align-bottom" style="display:inline">
                <%= link_to icon('fa-regular', 'plus', style:'font-size:40px;'), new_blog_path if logged_in?(:site_admin) %>
            </div>
        </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="container px-4">
        <div class="row shadow-sm">
            <%= render @blogs %>
        </div>
        <%= paginate @blogs %>
    </div>
    
  </div>
</div>
