<div class="col-sm-8 blog-main">
    <h1><%= @topic.title %></h1>
    <p>
        I am going to add a description to here to make it clear what this topic is going to encompass
    </p>

    <%= paginate @blogs %>

    <p>
        I should add an if render here to show a message if the topic doesn't currently have content.
    </p>
    <%= render @blogs %>

    <%= paginate @blogs %>
</div>
