<nav class="navbar fixed-bottom" style="padding: 0px !important;">
    <div style="background: #202121; width:100%; height: 100px;padding-top: 30px; margin-top: 20px;" align="center">
        Copyright© 2022 Sir Nicholas, Nicholas Schumacher. All rights reserved.
    </div>
</nav>