<div class="row">
  <div class="col-md-8">
    <p>
        Hello! I am Nick Schumacher, certified Salesforce Consultant and Developer based in Indianapolis.
    </p>
    <p>   
        I work for Appirio as a Salesforce Technical Lead. My primary passion is DevOps — I appreciate the cleanliness 
        and efficiency of a smoothly running pipeline. Developing for the Lightning Experience is a close second as I find 
        building complex systems in the framework to be both challenging and extremely satisfying.
    </p>
    <p>
        I graduated from Purdue University with a Bachelor’s degree in Computer Science. After working in cyber security, 
        automated testing, and web development, my interest in consulting has evolved into a passion as I work for Appirio.
    </p>
    <p>
        While solving problems with code will always be entertaining, I do find other ways to relax. I am an avid golfer and 
        movie lover who loves trying new beers just as much as I like working out. Much of my free time is spent with friends, 
        but I also enjoy learning about new technologies and diversifying my development skills. Click below if you’d like to 
        know more about me and the origin story of my Sir Nicholas brand!
    </p>
    <a href="#{}">Read More</a>
  </div>
  <div class="col-md-4">
    <%= image_tag "portrait.jpg", width: 300, alt: "profile image" %>
  </div>
</div>