<div class="row" style="margin-top: 10%;">
    <div class="col-sm-1 col-md-1" align="right">
        <div style="color:#796937; text-orientation: upright; writing-mode: vertical-rl;font-size: 1.8rem;">
            SIR NICHOLAS
        </div>
    </div>
  <div class="col-sm-11 col-md-7">
    <p style="color:#AD974F">
        Hello! I am Nicholas Schumacher, Senior Salesforce Consultant, developer, tech enthusiast, and life-long learner
        based in Indianapolis.
    </p>
    <p>   
        I work for IBM as a Salesforce Senior Developer. My primary passion is solving difficult problems that force me to grow.
        My favorite aspect of the job is gathering pain points and desires from users, designing an elegant solution, and building a POC.
        DevOps is another area I am very interested in and have gathered a fair amount of knowledge/expertise as I appreciate the cleanliness 
        and efficiency of a smoothly running development process. IBM has cultivated an environment where I can be more than just another Salesforce
        developer -- I can be a researcher, thought leader, mentor, presenter, learner, etc. This blog will be a catalog of sorts capturing my journey
        as I grow by sharing ideas and listening to feedback. I appreciate all who join me at the Round Table!
    </p>
    <p>
        I graduated from Purdue University with a Bachelor’s degree in Computer Science. After working in cyber security, 
        automated testing, and web development, my interest in consulting has evolved into a passion as I worked for Appirio, Wipro, and now IBM.
    </p>
    <p>
        As a strong believer in work-life balance, I try not to sit in front of my computer all day. I am a golfer and movie lover who loves trying
        new cocktails just as much as I like working out. Much of my free time is spent with my friends, my beautiful partner, Lauren, or our two cats.
    </p>
    <hr>
    <div class="row">
        <div class="col-md-4 align-self-center">
            <div class="row">
                <div class="col-sm-3 col-md-6 align-self-center">
                    <%= icon('fa-brands', 'salesforce', style: "color: #AD974F;font-size: 4.5rem;")%>
                </div>
                <div class="col-sm-3 col-md-6 align-self-center px-0">
                    SALESFORCE
                </div>
            </div>
        </div>
        <div class="col-md-4 align-self-center">
            <div class="row">
                <div class="col-sm-3 col-md-6 align-self-center">
                    <%= icon('fa-solid', 'timeline', style: "color: #AD974F;font-size: 4.5rem;")%>
                </div>
                <div class="col-sm-3 col-md-6 align-self-center">
                    DEVOPS
                </div>
            </div>
        </div>
        <div class="col-md-4 align-self-center">
            <div class="row">
                <div class="col-sm-3 col-md-6 align-self-center">
                    <%= icon('fa-solid', 'dumbbell', style: "color: #AD974F;font-size: 4.5rem;")%>
                </div>
                <div class="col-sm-3 col-md-6 align-self-center">
                    FITNESS
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-4" align="center">
    <%= image_tag "portrait.jpg", width: 300, alt: "profile image" %>
  </div>
</div>