<div id="background-contact"></div>
<div id="background-filter"></div>

<div class="container-fluid" style="margin-top: 20%;">
    <div class="row" align="center">
        <span style="font-size: 2rem;">Would you like to get in touch?</span><br/>
    </div>
    <div align="center" style="font-size: 1.2rem; margin-top: 4rem;">
        <span style="color: #AD974F;">
            Email me!  
        </span><br/>
        nick.schumacher07@gmail.com <br/><br/>
        <span style="color: #AD974F; font-style: italic;">
            Check out my socials!
        </span>
        <div class="row justify-content-center" style="font-size: 2rem; margin-top: 10px;">
            <div class="col-md-1">
                <a href="https://www.linkedin.com/in/nicholasaschumacher/" style="color: #b5bcc3"><%= icon('fa-brands', 'linkedin') %></a>
            </div>
            <div class="col-md-1">
                <a href="https://www.github.com/nschumacher" style="color: #b5bcc3"><%= icon('fa-brands', 'github')  %></a>
            </div>
            <div class="col-md-1">
                <a href="https://www.instagram.com/sir_nicholas0/" style="color: #b5bcc3"><%= icon('fa-brands', 'instagram') %></a>
            </div>
            <div class="col-md-1">
                <a href="https://twitter.com/sir_nicholas0" style="color: #b5bcc3"><%= icon('fa-brands', 'twitter') %></a>
            </div>
        </div>
    </div>
</div>