// Custom bootstrap variables must be set or imported *before* bootstrap.
$gold: #BCAC1A;
$off-white: #b5bcc3;
$page-background: #1B2124;
$section-background: #14191C;

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "navbar";
@import "footer";
@import "pages";
@import "blogs";
//@import "jquery-ui";

/* ---------- Scrollbars ---------- */
body::-webkit-scrollbar {
    width: .2em;
}
body::-webkit-scrollbar-track {
}
body::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 10px;
  outline: 1px solid gold;
}

/* ---------- Containers ---------- */
body {
    background-color: black;
    color: $off-white;
}
section {
    background-color: $page-background;
}

/* ---------- Links ---------- */
a {
    color: $gold;
}
a:hover {
    color: $gold;
    text-decoration: none;
}

/* ---------- Social Icons ---------- */
.fav-icon-footer {
    font-size: 22px;
    color: $gold;
}

/* ---------- Auth Buttons ---------- */
.btn-auth {
    color: $gold;
    margin: 0px 10px;
    border-color: $gold;
    width: 6rem;
    font-size: 12px;
    border-radius: 0px;
}
.btn-auth:hover {
    color: black !important;
    background-color: $gold;
    border-color: $gold;
}
.btn-auth:focus {
    box-shadow: 0 0 0 0.2rem rgba($gold, 0.5);
}