// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "gritter";

.comment-card > .card {
    margin-top: 15px;
    color: black;
}

.comment-attribution {
    font-size: .8em;
    font-style: italic;
}

.comment-name {
    font-weight: 700;
}